# Secrets
.env
*.env
backend/agents/.env

# Python
venv/
.venv/
__pycache__/
*.pyc

# Models IA
models/
*.bin
*.pt
*.pth
*.ckpt
*.safetensors

# HuggingFace cache
.cache/
huggingface/

# Node
node_modules/

# Flutter
build/
.dart_tool/

# VS Code
.vscode/

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3
backend/data/chroma_db/

# Audio/video
*.mp4
*.wav